adf/pipeline/Bulk Copy from Files to Database.json
{
	"name": "Bulk Copy from Files to Database",
	"properties": {
		"activities": [
			{
				"name": "Get Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetMetadataDataset",
						"type": "DatasetReference",
						"parameters": {
							"SourceContainer": {
								"value": "@pipeline().parameters.SourceContainer",
								"type": "Expression"
							},
							"SourceDirectory": {
								"value": "@pipeline().parameters.SourceDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyFiles",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SourceParquet",
									"type": "DatasetReference",
									"parameters": {
										"SourceDirectory": {
											"value": "@pipeline().parameters.SourceDirectory",
											"type": "Expression"
										},
										"SourceContainer": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlDWSinkDataset",
									"type": "DatasetReference",
									"parameters": {
										"sinkTableName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var",
								"value": {
									"value": "@pipeline().globalParameters.environment",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceContainer": {
				"type": "string",
				"defaultValue": "raw"
			},
			"SourceDirectory": {
				"type": "string",
				"defaultValue": "AdventureWorksDW/"
			}
		},
		"variables": {
			"var": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-01-28T19:27:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}